* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.cvdTrker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cvdTrker__stats {
  display: flex;
  justify-content: space-between;
}
.cvdTrker {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 990px) {
  .cvdTrker {
    flex-direction: column;
  }
}
.cvdTrker__left {
  flex: 0.9;
}
cvdTrker__header h1 {
  color: #000000;
  font-size: 2rem;
}
.CvdTrker__dropdown {
  background-color: white;
}
.cvdTrker__right {
  display: flex;
  flex-direction: column;
}
.cvdTrker__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.cvdTrker_fullheightlinegraph {
  flex-grow: 1;
}
.cvdTrker__graphtitle {
  margin-top: 10px;
  margin-bottom: 20px;
}
